FREQUENCY NET "clk_in" 100.000000 MHz ;
FREQUENCY NET "maybe_hwtap.hwtap.glue.itck_LUT4_D_Z" 30.000000 MHz ;
BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
BLOCK JTAGPATHS ;
# Ineffective here
# SYSCONFIG CONFIG_IOVOLTAGE=3.3 SLAVE_SPI_PORT=DISABLE CONFIG_MODE=JTAG CONFIG_SECURE=OFF TRANSFR=OFF MASTER_SPI_PORT=DISABLE SLAVE_PARALLEL_PORT=DISABLE MCCLK_FREQ=38.8 BACKGROUND_RECONFIG=OFF ;
BANK 0 VCCIO 3.3 V;
BANK 1 VCCIO 3.3 V;
BANK 2 VCCIO 3.3 V;
BANK 3 VCCIO 3.3 V;
BANK 4 VCCIO 3.3 V;
BANK 6 VCCIO 1.5 V;
BANK 7 VCCIO 1.5 V;
# System clocks
LOCATE COMP "clk_100m_i" SITE "C5" ;
IOBUF PORT "clk_100m_i" IO_TYPE=LVDS ;
FREQUENCY PORT "clk_100m_i" 100.000000 MHz ;
LOCATE COMP "clk_27m_i" SITE "E17" ;
IOBUF PORT "clk_27m_i" IO_TYPE=LVCMOS33 ;
FREQUENCY PORT "clk_27m_i" 27.000000 MHz ;
LOCATE COMP "reset_n" SITE "AH1" ;
IOBUF PORT "reset_n" PULLMODE=UP IO_TYPE=LVCMOS33 ;
# LOCATE COMP "clk_out" SITE "AK32" ;
# RGMII Phy interface
#
FREQUENCY PORT "phy_rgmii_refclk" 25.000000 MHz ;
FREQUENCY PORT "phy_rgmii_rxclk" 125.000000 MHz ;
LOCATE COMP "phy_rgmii_refclk" SITE "P28" ;
LOCATE COMP "ts_mac_coremdc" SITE "F25" ;
LOCATE COMP "ts_mac_coremdio" SITE "E25" ;
LOCATE COMP "phy_rgmii_rxclk" SITE "R26" ;
LOCATE COMP "phy_rgmii_rxctl" SITE "AE29" ;# Also known as rxdv
LOCATE COMP "phy_rgmii_rxd[0]" SITE "N32" ;
LOCATE COMP "phy_rgmii_rxd[1]" SITE "T30" ;
LOCATE COMP "phy_rgmii_rxd[2]" SITE "AC28" ;
LOCATE COMP "phy_rgmii_rxd[3]" SITE "W29" ;
LOCATE COMP "phy_rgmii_txclk" SITE "AC31" ;
LOCATE COMP "phy_rgmii_txctl" SITE "Y29" ;
LOCATE COMP "phy_rgmii_txd[0]" SITE "AB32" ;
LOCATE COMP "phy_rgmii_txd[1]" SITE "AC32" ;
LOCATE COMP "phy_rgmii_txd[2]" SITE "AD32" ;
LOCATE COMP "phy_rgmii_txd[3]" SITE "A24" ;
DEFINE PORT GROUP "RgmiiGrp" "phy_rgmii_*" ;
IOBUF PORT GROUP "RgmiiGrp" IO_TYPE=LVCMOS33 ;
IOBUF PORT "phy_rgmii_rxd[0]" PULLMODE=DOWN IO_TYPE=LVCMOS33 ;
IOBUF PORT "phy_rgmii_rxd[2]" PULLMODE=DOWN IO_TYPE=LVCMOS33 ;
IOBUF PORT "phy_rgmii_rxd[1]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "phy_rgmii_rxd[3]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "phy_rgmii_rxctl" PULLMODE=UP IO_TYPE=LVCMOS33 ;
# Video I/O
#
IOBUF PORT "vp1_data[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "vp1_data[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "vp1_data[2]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "vp1_data[3]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "vp1_data[4]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "vp1_data[5]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "vp1_data[6]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "vp1_data[7]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "vp1_data[8]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "vp1_data[9]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "vp1_fv" IO_TYPE=LVCMOS33 ;
IOBUF PORT "vp1_lv" IO_TYPE=LVCMOS33 ;
IOBUF PORT "vp1_clk" IO_TYPE=LVCMOS33 ;
LOCATE COMP "vp1_data[0]" SITE "A13" ;
LOCATE COMP "vp1_data[1]" SITE "A8" ;
LOCATE COMP "vp1_data[2]" SITE "F9" ;
LOCATE COMP "vp1_data[3]" SITE "D9" ;
LOCATE COMP "vp1_data[4]" SITE "C9" ;
LOCATE COMP "vp1_data[5]" SITE "A9" ;
LOCATE COMP "vp1_data[6]" SITE "C10" ;
LOCATE COMP "vp1_data[7]" SITE "B10" ;
LOCATE COMP "vp1_data[8]" SITE "A10" ;
LOCATE COMP "vp1_data[9]" SITE "E11" ;
LOCATE COMP "vp1_fv" SITE "K27" ;
LOCATE COMP "vp1_lv" SITE "K26" ;
LOCATE COMP "vp1_clk" SITE "P27" ;
# FREQUENCY PORT "vp1_clk" 148.500000 MHz ;
FREQUENCY PORT "vp1_clk" 74.250000 MHz ;
# Sensor I2C:
LOCATE COMP "cs_scl[0]" SITE "D15" ;
LOCATE COMP "cs_scl[1]" SITE "A14" ;
LOCATE COMP "cs_sda[0]" SITE "F15" ;
LOCATE COMP "cs_sda[1]" SITE "B14" ;
IOBUF PORT "cs_scl[0]" OPENDRAIN=OFF IO_TYPE=LVCMOS33 SLEWRATE=SLOW PULLMODE=NONE ;
IOBUF PORT "cs_scl[1]" OPENDRAIN=OFF IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "cs_sda[0]" OPENDRAIN=OFF IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "cs_sda[1]" OPENDRAIN=OFF IO_TYPE=LVCMOS33 PULLMODE=NONE ;
LOCATE COMP "vp_reset" SITE "B4" ;
IOBUF PORT "cl_reset" IO_TYPE=LVCMOS33 ;
IOBUF PORT "vp_reset" IO_TYPE=LVCMOS33 ;
LOCATE COMP "cl_reset" SITE "D13" ;
# TWI, SPI and peripherals
#
LOCATE COMP "sys_sda" SITE "AJ1" ;
LOCATE COMP "sys_scl" SITE "AG1" ;
IOBUF PORT "sys_sda" PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "sys_scl" IO_TYPE=LVCMOS33 ;
LOCATE COMP "spi_cs" SITE "AJ3" ;
LOCATE COMP "spi_mosi" SITE "AK2" ;
LOCATE COMP "spi_miso" SITE "AJ2" ;
# UART, legacy naming:
LOCATE COMP "txd_uart" SITE "AL28" ;
LOCATE COMP "rxd_uart" SITE "AK28" ;
IOBUF PORT "txd_uart" PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "rxd_uart" IO_TYPE=LVCMOS33 ;
# LEDs for debugging:
LOCATE COMP "led_csn" SITE "AG3" ;
LOCATE COMP "led_csn1" SITE "AH3" ;
LOCATE COMP "oled[0]" SITE "AG30" ;
LOCATE COMP "oled[1]" SITE "AK29" ;
LOCATE COMP "oled[2]" SITE "AK30" ;
LOCATE COMP "oled[3]" SITE "AH32" ;
LOCATE COMP "oled[4]" SITE "AG32" ;
LOCATE COMP "oled[5]" SITE "AJ29" ;
LOCATE COMP "oled[6]" SITE "AM28" ;
LOCATE COMP "oled[7]" SITE "AM29" ;
DEFINE PORT GROUP "LedGrp" "led*" ;
IOBUF PORT GROUP "LedGrp" IO_TYPE=LVCMOS33 ;
IOBUF PORT "spi_clk" IO_TYPE=LVCMOS33 ;
IOBUF PORT "spi_cs" IO_TYPE=LVCMOS33 ;
IOBUF PORT "spi_mosi" IO_TYPE=LVCMOS33 ;
IOBUF PORT "tdo" IO_TYPE=LVCMOS33 ;
IOBUF PORT "ts_mac_coremdc" IO_TYPE=LVCMOS33 ;
IOBUF PORT "ts_mac_coremdio" PULLMODE=UP IO_TYPE=LVCMOS33 ;
# IOBUF PORT "clk_out" IO_TYPE=LVCMOS33 ;
# Debugging
LOCATE COMP "hdr[4]" SITE "AK31" ;
LOCATE COMP "hdr[5]" SITE "AJ31" ;
LOCATE COMP "hdr[0]" SITE "AK32" ;
LOCATE COMP "hdr[6]" SITE "AM31" ;
LOCATE COMP "hdr[1]" SITE "AJ32" ;
LOCATE COMP "hdr[7]" SITE "AL32" ;
LOCATE COMP "hdr[2]" SITE "AM30" ;
LOCATE COMP "hdr[3]" SITE "AL30" ;
############################################################################
# Timing
BLOCK PATH FROM CELL "soc/perio/inst_decoder_mac/bit_lookahead" ;
BLOCK NET "soc/perio/tx_reset" ;
# BLOCK PATH TO CLKNET "tap2core.tapclk" ;
BLOCK PATH FROM PORT "reset_*" ;
MULTICYCLE TO CELL "soc/perio/inst_dev_mac/inst_txfifo/iport_ready" 2.000000 X ;
MULTICYCLE FROM CLKNET "mac_mclk" TO CLKNET "mclk_pll.CLKOP_i" 2.000000 X ;
BLOCK PATH FROM CLKNET "mclk_pll.CLKOP_i" TO CLKNET "phy_rgmii_txclk_c" ;
IOBUF PORT "hdr[3]" OPENDRAIN=ON IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "hdr[5]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "hdr[6]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "hdr[7]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "hdr[0]" IO_TYPE=LVCMOS33 SLEWRATE=FAST ;
IOBUF PORT "hdr[1]" IO_TYPE=LVCMOS33 SLEWRATE=FAST ;
IOBUF PORT "hdr[2]" IO_TYPE=LVCMOS33 SLEWRATE=FAST ;
IOBUF PORT "hdr[4]" IO_TYPE=LVCMOS33 SLEWRATE=FAST ;
